.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    border-bottom:2px solid black
}
/* COMPONENT: BRAND */
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    cursor:pointer
}
.brand img{
    width:40px;
    height: 40px;
}
/* COMPONENT: CONTROLS */
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px
}
.controls button{
    background-color: transparent;
}
.controls img{
    width:40px;
    height: 25px;
}
.controls__settings{
    font-size: 2em;
}
.modalSettings{
    width:350px;
    height: auto;
    padding:20px;
    background-color: black;
    position:absolute;
    z-index:1;
    right:0;
    top:0;
    color:white
}
.modalSettings__item{
    
}
.container-button{
    display: flex;
    align-items: center;
    gap: 5px;
    margin:10px
}
.modalSettings__item button{
    color:white;
    background-color: rgb(43, 42, 42);
    width:100%;
    height: 40px;
    border-radius: 5px;

}
.modalSettings__button{
    color:white;
    background-color: transparent;
    width:100px;
    height: 40px;
    border-radius: 40px;
    border:2px solid rgb(6, 248, 176);
    display: block;
    margin:10px auto 0 auto;
}