.hero{
    background-image: url('/images/hero.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh + 100px);
    padding-bottom: 50px;
    filter:opacity(.8);
    overflow-x: hidden;
}