:root {
  font-family: Inter, system-ui, Arial, sans-serif;
  --bg-primary:rgb(30, 31, 32);
  --bg-secondary:rgb(21, 60, 134);
  --bg-tertiary:rgb(24, 24, 23);
  --color1:rgb(216, 213, 213);
  --color2:rgb(233, 186, 57);
  --color3:rgb(82, 82, 82);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:var(--bg-primary);
  color:var(--color1);
  overflow-x: hidden;
}
button{
  border:none
}